<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>token</key>
	<string>934e1bae9362602ee15e609e7533b40f</string>
	<key>url</key>
	<string>http://kelder.zeus.ugent.be/slotmachien/</string>
</dict>
</plist>
